@{
  ViewData["Title"] = "UI View";
}
<html lang="en">

<head>
  <title>@ViewData["Title"]</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="@ViewBag.pageScriptPath" type="module" defer></script>
</head>

<body>
  <div id="app">
  </div>
</body>

</html>
